<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mariano Maselli">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
    <title>XXX</title>
</head>
<body>
    <div id="list">

        <div class="container text-center ">
            <h1>LISTA DELLA SPESA</h1>
            <hr>
            <div class="input-group mb-3 w-50 m-auto">
                <input type="text" class="form-control" v-model='newTask'>
                <button class="btn btn-outline-secondary" type="button"  @click="addTask">Aggiungi</button>
            </div>
            <ul v-if='originalList.length' class="list-group" >
                <li  v-for=' (listItem, index) in originalList ' class="list-group-item w-50 m-auto text-start d-flex justify-content-between">
                    <span  :class='{ isdone : isDone(index) }' >{{ listItem.name }}</span>
                    <i @click='removeTask(index)' class="fa-regular fa-circle-xmark delcross" ></i>
                </li>
                
            </ul>
            <h3 v-else >Non hai impegni, Festa!!!</h3>
            
        </div>
    </div>
    
    <script src="js/script.js"></script>
</body>
</html>